<style>
h1 {font-family: "Arial"}
#maincontent {font-family: "Arial"}
</style>

<div id='maincontent' > 
<p id="notice"><%= notice %></p>

<h1>Garth's Taco Delivery Service Menu</h1>
<%= link_to 'Show My Cart', cart_path(@cart) , class:"w3-button w3-orange w3-border" %> 
<table class="w3-table-all">
  <thead>
    <tr>
      <th>What's it called?</th>
      <th>What's in it?</th>
      <th>What's it look like?</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= strip_tags(product.description) %></td>
        <td><%= image_tag(product.image_url) %>
        <br>
        <br>
        <br>
        <%= number_to_currency(product.price) %>
        <br>
        <%= button_to 'Add to Order', line_items_path(product_id: product), class:"w3-button w3-orange w3-border" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br></div>
